h1
{
    color:aqua;
}
h2
{
    color:blue;
}
h3
{
    color:green;
}
h4
{
    color:yellow;
}
h5
{
    color:orange;
}
h6
{
    color:purple;
}
.cc
{
    color:gray;
}
.cv
{
    color:rgba(194, 0, 0, 0.292);
}
.sp1
{
    color:cyan;
}
{
    color:black;
}
.sp2
{
    color:brown;
}
.minicecil
{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.bigcecil
{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}